xrandr --output DP-4 --pos 0x1140 --output DP-0 --rotation right --pos 3840x0

fcitx &
sxhkd &
picom &
polybar -r mybar &
dunst &
wal -R &
anki &
[ ! -s ~/stuff2/mpd/pid ] && mpd &

sleep 2
# Anything that depends on some program above should come after this comment

xkbcomp -I"$HOME/.config/xkb" "$HOME/.config/xkb/base.xkb" $DISPLAY
